{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm">

                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">System</h4>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Canonical Hostname</strong><br>{{ system.hostname }}</li>
                        <li class="list-group-item"><strong>Public IP</strong><br>{{ system.public_ip }}</li>
                        <li class="list-group-item"><strong>Private IP</strong><br>{{ system.private_ip }}</li>
                        <li class="list-group-item"><strong>Uptime</strong><br>{{ system.uptime }}</li>
                        <li class="list-group-item"><strong>Up Since</strong><br>{{ system.upsince }}</li>
                    </ul>
                </div>

            </div>
            <div class="col-sm">

                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Memory</h4>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Used</strong> 0</li>
                        <li class="list-group-item"><strong>Free</strong> {{ memory.MemFree }}</li>
                        <li class="list-group-item"><strong>Total</strong> {{ memory.MemTotal }}</li>
                        <li class="list-group-item">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </li>
                    </ul>

                    <div class="card-header">
                        <h4 class="card-title">Swap</h4>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Used</strong> 0</li>
                        <li class="list-group-item"><strong>Free</strong> {{ memory.SwapFree }}</li>
                        <li class="list-group-item"><strong>Total</strong> {{ memory.SwapTotal }}</li>
                        <li class="list-group-item">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-sm">

                <div class="card">
                    <div class="card-header">
                        Storage Space
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                {% for col in storage.head %}
                                <th scope="col">{{ col }}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for row in storage.data %}
                            <tr>
                                {% for col in row %}
                                <td scope="row">{{ col }}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
